---
title: "报告"
---

## 1 查看报告

:::note

在【报告】页面查看【场景报告】和【用例报告】。

:::

![!查看测试报告](/img/metersphere/api_test/report/查看报告1.png)

图 1  查看报告（1）

:::note

点击【报告名称】预览报告详情。

:::

![!查看测试报告](/img/metersphere/api_test/report/查看报告2.png)

图 2  查看报告（2）

:::note

点击【步骤名称】查看步骤实际请求的响应内容。

:::

![!查看测试报告](/img/metersphere/api_test/report/查看报告3.png)

图 3  查看报告（3）

## 2 分享报告

:::note

在报告详情页面，点击【分享】按钮获取分享链接。报告链接有效期可在 [项目管理-应用设置](../project_management/project_permissions.md#23-接口测试) 处配置。

:::

![!分享报告](/img/metersphere/api_test/report/分享报告.png)

图 4  分享报告

## 3 导出报告

:::note

在报告详情页面，点击【导出】按钮即可。

:::

![!分享报告](/img/metersphere/api_test/report/导出报告.png)

图 5  导出报告（1）

:::note

在报告列表页面，点击【导出】按钮或者勾选复选框，点击【导出】批量导出报告。

:::

![!分享报告](/img/metersphere/api_test/report/导出报告1.png)

图 6  导出报告（2）

![!删除测试报告](/img/metersphere/api_test/report/导出报告2.png)

图 7  导出报告（3）

## 4 删除报告

:::note

点击【删除】按钮删除报告。

:::

![!删除测试报告](/img/metersphere/api_test/report/删除报告1.png)

图 8  删除报告（1）

:::note

勾选复选框，点击【删除】批量删除报告。

:::

![!删除测试报告](/img/metersphere/api_test/report/删除报告2.png)

图 9  删除报告（2）

:::note[注意]

删除报告后无法恢复，请谨慎使用该功能！

:::
